.hero { display: flex; align-items: center; flex-direction: column; gap: 35px; padding-bottom: 60px;}
.hero img { margin-top: 180px; max-width: 350px; border-radius: 50%;}
.gradient-border { border: 5px solid transparent; background-image: linear-gradient(white, white),  linear-gradient(45deg, #b415ff, #df8908);  background-origin: border-box; background-clip: content-box, border-box;}
.hero h1 { text-align: center; font-weight: 600; font-size: 90px; width: 80%;}
.hero h1 span { letter-spacing: 3px; background: linear-gradient(270deg, #df8908 10%, #b415ff 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent;}
.light-font { font-size: 24px; letter-spacing: 3px; display: block;}
.hero p { font-size: 18px; line-height: 28px; width: 70%; text-align: center;}
.hero-action { display: flex; align-items: center; gap: 25px; font-size: 24px; font-weight: 500; margin-bottom: 50px;}
.hero-connect { transition: 0.5s; padding: 25px 45px; border-radius: 50px; background: linear-gradient(264deg, #df8908 -5.09%, #b415FF 106.88%); cursor: pointer;}
.hero-resume { transition: 0.5s; padding: 25px 75px; border-radius: 50px; border: 2px solid #fff; cursor: pointer;}
.hero-connect:hover, .hero-resume:hover { transform: scale(1.05);}
.hero-resume:hover { border: 2px solid #b415FF;}
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3; /* Optional for subtle effect */
  }